<h1>Shared File from <%= @user_file.user.name %> (<%= @user_file.user.username %>)</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Upload Date</th>
      <th>Size</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user_file.name %></td>
      <td><%= @user_file.created_at.strftime("%d %B %Y") %></td>
      <td><%= number_to_human_size(@user_file.size) %></td>
      <td><%= link_to 'Download', download_user_file_path(@user_file) %></td>
    </tr>
  </tbody>
</table>