<h1>Login</h1>

<%= form_for :session, url: login_path do |f| %>
  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: 'Enter username here' %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: 'Enter password here' %>
  </div>

  <% if flash[:alert] %>
    <div class="error"><%= flash[:alert] %></div>
  <% end %>

  <%= f.submit "Submit" %>
<% end %>

<p>Don't have an account? <%= link_to "Sign up", signup_path %></p>