<h1>Edit Profile</h1>

<%= form_with(model: @user, url: profile_path, method: :patch) do |f| %>
  <div>
    <%= f.label :name, 'Full Name' %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <%= f.submit "Update" %>
<% end %>

<p><%= link_to 'Back to Profile', profile_path %></p>